################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
obj/
bin/
*.nupkg
packages/
*.pdb
*.user
*.suo
*.log
