################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# VS / .NET
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
*.user
*.suo
*.cache
*.pdb
*.log
*.exe

# NuGet
packages/
*.nupkg
*.snupkg