################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# VS / .NET
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
*.user
*.suo
*.cache
*.pdb
*.log

# NuGet
packages/
*.nupkg
*.snupkg

# Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db